.tab {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.tabIcon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.name {
	font-size: 14px;
	line-height: 16.1px;
	color: #7f858d;
}
